.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding-top: 20px; /* Lisää 20px tilaa otsikon sisään */
  padding-bottom: 60px;
}

.education ul {
  list-style: none; /* Poista oletusluettelomerkit */
  padding-left: 0; /* Poista oletussisennys */
}

.education ul li::before {
  content: "•"; /* Lisää luettelomerkki */
  color: grey; /* Aseta väri */
  font-weight: bold; /* Tee luettelomerkki lihavoiduksi */
  display: inline-block; /* Mahdollistaa leveyden asettamisen */
  width: 15px; /* Aseta väli luettelomerkin ja tekstin väliin */
}

.education ul li {
  margin-bottom: 10px; /* Lisää väliä luettelokohtien väliin */
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

body.text-center {
  text-align: center; /* Keskittää tekstin */
  padding: 40px 40px 0 40px; /* Korjattu paddingin muoto */
}

/* Lisää tilaa vasemmalta ja oikealta p-elementille */
body.text-center p {
  margin-left: 40px; /* Lisää tilaa vasemmalle */
  padding: 40px 40px 0 40px;
  margin-top: 20px;
  margin-bottom: 10px; /* Lisää tilaa kappaleiden väliin */
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Lisää tilaa navin ja sisällön väliin */
  margin-left: 0;
  margin-right: 0;
}

.navbar-nav .nav-link {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.navbar-dark .navbar-brand i {
  font-size: 24px;
}

.hero-section {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  color: white;
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.hero-section h1 {
  font-size: 1.5rem;
  margin-top: 0;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 40px 20px; /* Vähennetään paddingia mobiilissa */
  }
}

@media (min-width: 992px) {
  .hero-section {
    padding: 20px 100px 20px 100px;
  }
  .jumbotron .container {
    max-width: 800px;
    margin: 0 auto;
  }
}

.hero-section p {
  font-size: 1.2rem;
}

section h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

form button {
  background-color: #2575fc;
  border: none;
}

form button:hover {
  background-color: #6a11cb;
}
